.login-container {
    
    display: flex;
    justify-content: center;
 
    .example-card {
        max-width: 400px;
        margin-top: 100px;
        padding: 40px;
    }
      
    .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    }

    .action-login-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}
  