<div class="login-container">
    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Ingresá tu e-mail!</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>


            <mat-form-field class="example-form-field">
                <input matInput type="text" placeholder="Clearable input">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="action-login-container">
            <button mat-button>Ingresar</button>
            <button mat-button>Registrar</button>
        </mat-card-actions>
    </mat-card>
</div>